/* --- HEADER Y FOOTER --- */
/* Wrapper general para header y footer */
.wrapper {
    position: relative;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
}

/* Bloque verde sólido encima */
.wrapper .overlay {
    background-color: #4f4f35;
    padding: 15px 30px;   
}

/* Header*/
.wrapper.header {
  padding: 20px 80px; 
}

/* Footer:*/
/* Footer con dos capas */
.wrapper.footer {
  position: relative;
  height: 200px; /* ajusta según tu diseño */
}

/* Fondo de hojas solo arriba */
.wrapper.footer .background {
  background-image: url('/img/fondo.jpg');
  background-size: cover;
  background-position: top center;
  height: 80px; 
  width: 100%;
}

/* Bloque verde */
.wrapper.footer .overlay {
  background-color: #4f4f35;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 110px;
}

/* Logo circular */
.logo-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* --- CATALOGO --- */
/* Título de categoría */
.categoria-titulo {
  color:#3a2417;
  font-weight: bold;
  border-bottom: 2px solid #3a2417;
  padding-bottom: 5px;          
  display: inline-block;   
  margin: 0 auto 20px auto;
}

/* Card de producto */
.producto-card {
  width: 14rem;
  background-color: #ffffff; /* fondo blanco */
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.producto-card:hover {
  transform: scale(1.05);
}

/* Botón agregar producto */
.btn-success.rounded-circle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f4f35;
}

/* Botón global agregar categoría */
.btn-success.rounded-pill {
  font-weight: bold;
  background-color: #4f4f35;
}
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #4f4f35 !important;
  border-color: #4f4f35 !important;
  color: #fff !important;
}