<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos:: head}"/>
        <!-- Header -->
        <header th:replace="~{general/fragmentos:: header}"/>

        <!-- Contenido principal -->
        <main class="container my-4">
            <h1 class="text-center text-success mb-4">Catálogo</h1>
        </main>

        <!-- Footer -->
        <footer th:replace="~{general/fragmentos:: footer}"/>
    </body>
</html>