<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos:: head}"/>
    <body>
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <!-- Columna izquierda -->
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-left text-white">
                    <img th:src="@{/img/logoblanco.png}"
                         alt="Logo de Hey Artcraft"
                         class="logo-login"/>
                    <h1>¡Bienvenido/a!</h1>
                    <h4 class="mt-3">Será un placer transformar tus ideas</h4>
                </div>

                <!-- Columna derecha -->
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-right">
                    <div class="login-card p-4 shadow-sm">       
                        <div class="text-center mb-2 mt-3">
                            <h3 class="categoria-titulo mb-4">[[#{login.titulo}]]</h3>
                        </div>

                        <div th:if="${param.error}" class="alert alert-custom">
                            [[#{login.error}]]
                        </div>
                        <div th:if="${param.logout}" class="alert alert-custom">
                            [[#{login.logout}]]
                        </div>
                        <div th:if="${param.registrado}" class="alert alert-custom">
                            ¡Tu cuenta ha sido creada exitosamente! Ahora puedes iniciar sesión.
                        </div>

                        <form th:action="@{/login}" method="post">
                            <label class="form-label" for="username">[[#{login.usuario}]]</label>
                            <input type="text" id="username" name="username"
                                   class="form-control" required="required" autofocus="autofocus"/>

                            <label class="form-label mt-3" for="password">[[#{login.password}]]</label>
                            <input type="password" id="password" name="password"
                                   class="form-control" required="required"/>

                            <button type="submit" class="btn btn-login w-100 mt-4">
                                <i class="fa-solid fa-right-to-bracket"></i> [[#{login.entrar}]]
                            </button>
                        </form>
                        <a href="/oauth2/authorization/google" class="btn btn-login w-100 mt-4">
                            <i class="fa-brands fa-google"></i> Iniciar sesión con Google
                        </a>
                        <div class="text-center mt-3">
                            <span class="small">¿No tienes una cuenta creada?</span>
                            <a th:href="@{/registro}" class="small fw-bold text-decoration-none">Crear Cuenta</a>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
